.wheel-container {
	#wheel {
		position: relative;
		z-index: 1;
		width: 500px;
		height: 500px;
		margin: 0 auto;
		display: block;
	}

	.nav-wheel {
		position: relative;
		z-index: 2;
		margin: 25px auto;
		width: 50%;
		text-align: center;

		button {
			display: inline-block;
			background-color: #999;
			color: #fff;
			border: none;
			cursor: pointer;
		}
	}
}